.sessao-especialidade {
    margin-top: 40px;
  }

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links a{
    color: black;
    text-decoration: none;
    margin: 5px 15px;
    border-bottom: 2px solid #00cad1;
}

.links a:hover {
    color: #00cad1;
}

.container h1 {
    text-align: center;
}

.container-conteudo h3 {
    padding-top: 40px;
}

.especialistas {
    display: flex;
    height: 240px;
    padding: 0 20px;
}

.especialistas img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.tabela-especialistas {
    border-spacing: 0;
    text-align: left;
    width: 70%;
    height: 100%;
}

.tabela-especialistas thead tr{
    background-color: #00cad1;
    color: #fff;
}

.tabela-especialistas tr {
    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
}

.tabela-especialistas th, .tabela-especialistas td{
    padding: 10px;
}

.tabela-especialistas tbody tr:nth-of-type(odd) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}

@media (max-width: 768px) {
    .especialistas img {
        display: none;
    }
    .especialistas table {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .especialistas{
        padding: 0;
    }
}